schemas/seveso/1.0/ProductionAndIndutrialFacilities_seveso.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--Generated by Enterprise Architect 16.1.1628 ( Build: 1628 )-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" 
targetNamespace="http://geodata.wallonie.be/inspire/schemas/seveso/1.0" 
xmlns:pf_seveso="http://geodata.wallonie.be/inspire/schemas/seveso/1.0" version="1.0" 
xmlns:gml="http://www.opengis.net/gml/3.2" 
xmlns:pf="http://inspire.ec.europa.eu/schemas/pf/4.0">
	<import namespace="http://inspire.ec.europa.eu/schemas/pf/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/pf/4.0/ProductionAndIndustrialFacilities.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	
	<simpleType name="SevesoRisqueValueType">
		<union memberTypes="pf_seveso:SevesoRisqueValueEnumerationType pf_seveso:SevesoRisqueValueOtherType"/>
	</simpleType>
	<simpleType name="SevesoRisqueValueEnumerationType">
		<restriction base="string">
			<enumeration value="Environnemental"/>
			<enumeration value="Humain"/>
			<enumeration value="Surpression"/>
			<enumeration value="Thermique"/>
		</restriction>
	</simpleType>
	<simpleType name="SevesoRisqueValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="SevesoSeuilValueType">
		<union memberTypes="pf_seveso:SevesoSeuilValueEnumerationType pf_seveso:SevesoSeuilValueOtherType"/>
	</simpleType>
	<simpleType name="SevesoSeuilValueEnumerationType">
		<restriction base="string">
			<enumeration value="Haut"/>
			<enumeration value="Bas"/>
		</restriction>
	</simpleType>
	<simpleType name="SevesoSeuilValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<complexType name="SevesoSubstanceDangereuseValueType2">
		<simpleContent>
			<extension base="string">
				<attribute name="nilReason" type="gml:NilReasonType"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="SevesoSubstanceDangereuseValueType">
		<union memberTypes="pf_seveso:SevesoSubstanceDangereuseValueEnumerationType pf_seveso:SevesoSubstanceDangereuseValueOtherType"/>
	</simpleType>
	<simpleType name="SevesoSubstanceDangereuseValueEnumerationType">
		<restriction base="string">
			<enumeration value="Nitrate d'ammonium"/>
			<enumeration value="Chlore"/>
			<enumeration value="Fluor"/>
			<enumeration value="Hydrogène"/>
			<enumeration value="Polychlorodibenzofurane"/>
		</restriction>
	</simpleType>
	<simpleType name="SevesoSubstanceDangereuseValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="SevesoSite" type="pf_seveso:SevesoSiteType" substitutionGroup="pf:ProductionSite"/>
	<complexType name="SevesoSiteType">
		<complexContent>
			<extension base="pf:ProductionSiteType">
				<sequence>
					<element name="Seuil" minOccurs="0" maxOccurs="1" nillable="true">
					<complexType>
						<simpleContent>
							<extension base="string">
								<attribute name="nilReason" type="gml:NilReasonType"/>
							</extension>
						</simpleContent>
					</complexType>
					</element>
					<element name="SubstanceDangereuse" type="pf_seveso:SevesoSubstanceDangereuseValueType" minOccurs="1" maxOccurs="unbounded"/>
					<element name="Risques" type="pf_seveso:SevesoRisqueValueType" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SevesoSitePropertyType">
		<sequence minOccurs="0">
			<element ref="pf_seveso:SevesoSite"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>